body{
	background-color:#292929;
}
#main{
	position:relative;
	height:100vh;
}
img{
	position:absolute;
	width:250px;
	height:340px;
	opacity:0.6;
}
#visas{
	top:100px;
	left:100px;
	z-index: 1;
}
#visas::before{
	content:"hola";
	color:white;
	position:absolute;
	background-color:#292929;
	top:0;
	left:0;
}
#vader{
	top:150px;
	left:150px;
	z-index: 2;
}
#anakin{
	top:200px;
	left:200px;
	z-index: 3;
}
#satele{
	top:250px;
	left:250px;
	z-index: 4;
}
#satele:hover{
	transform:scale(1.1);
	transition:.5s ease-out;
	opacity:1;
}
#anakin:hover{
	transform:scale(1.1);
	transition:.5s ease-out;
	z-index: 99;
	opacity:1;
}
#vader:hover{
	transform:scale(1.1);
	transition:.5s ease-out;
	z-index: 99;
	opacity:1;
}
#visas:hover{
	transform:scale(1.1);
	transition:.5s ease-out;
	z-index: 99;
	opacity:1;
}